.confirmed {
  font-family: "Karla", sans-serif;
  height: 100vh;
}

.confirmed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #949494;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.booking-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.confirmed-heading {
  font-size: 50px;
  margin-bottom: 0;
}

.confirmed-subtitle {
  font-size: 20px;
}

.booking-details-container {
  margin-top: 20px;
}

.booking-details div p {
  font-size: 20px;
  margin: 10px;
}

.confirmed-home-button {
  margin-top: 20px;
  font-weight: 700;
  font-size: 20px;
  background-color: #F4CE14;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
