.menu {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.menu-text {
  font-family: "Markazi Text", serif;
  font-size: 3rem;
  font-weight: bold;
}

.online-menu-btn {
  font-family: "Karla", sans-serif;
  background-color: #F4CE14;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}

.online-menu-btn:hover {
  opacity: 0.8;
}

.online-menu-btn:active {
  opacity: 0.4;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  margin-bottom: 20px;
}

.dish-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.dish-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dish-name {
  font-family: "Karla", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.dish-price {
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  color: #495E57;
  margin: 0;
}

.dish-description {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  margin: 10px 0;
}

.card a {
  font-family: "Karla", sans-serif;
  color: #495E57;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card a:hover {
  color: #6a7d70;
}

.arrow {
  border: solid #495E57;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-left: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-header {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .card-container {
    flex-direction: column;
    align-items: center;
  }

}