.nav-container {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  height: 90px;
  width: 100%;
  top: 0;
  z-index: 1000; /* Ensures it stays on top of other elements */
  background-color: white; /* Ensures background color remains */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.navbar {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  height: 100%;
  padding: 0 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

.menu-toggle {
  display: none; /* Hide the toggle button by default */
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.nav-item {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  padding: 1rem;
  cursor: pointer;
}

.nav-item:hover {
  color: #495E57;
}

.navbar a {
  color: inherit; /* Inherits the color from the parent element */
  text-decoration: none; /* Removes underline */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Show the toggle button on mobile */
  }
  .nav-list {
    flex-direction: column;
    position: absolute;
    top: 90px; /* Position below the navbar */
    right: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    display: none; /* Hide the menu by default */
  }

  .nav-list.open {
    display: flex; /* Show the menu when open */
  }

  .nav-item {
    padding: 1rem;
    text-align: center;
  }
}
